/* TODO fix this up and reformat this file */
/* change some of these to use vh and/or vw */

html {
  height: 100%;
}

body {
  background-color: #1f2327;
  display: block;
  height: calc(100% - 112px);
}

@media screen and (max-width: 480px) {
  body {
    height: calc(100% - 64px);
  }
}

h1.header {
  text-align: center;
  font-family: sans-serif;
  color: #ddd;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 360px) {
  h1.header {
    font-size: 16px !important;
  }
}

button {
  color: white;
  margin-left: 0;
  margin-right: 0;
  background-color: #4caf50;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

ul.navbar {
  list-style-type: none;
  max-width: 1200px;
  min-width: 280px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
  display: block;
  color: white;
  width: calc(100% / 6); /*TODO change this based on page size*/
  height: 80px;
  margin: 0;
}

.here {
  background-color: #008cba;
}

button:hover {
  border: 0.25rem solid #fff;
}

object,
embed,
iframe {
  width: 925px;
  height: 73%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 925px) {
  iframe {
    width: 100%;
    height: 70%;
    min-height: min(94vh, 500px);
    margin-top: 1.5rem;
  }
}

.aboutme {
  width: 60%;
  font-family: sans-serif;
  color: #ddd;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 2rem;
  flex-direction: column;
  text-align: center;
}

h2,
h3 {
  font-weight: normal;
  margin: 10px;
}

@media screen and (max-width: 480px) {
  h1.header {
    margin-top: 3rem;
    font-size: 20px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .aboutme {
    width: 100%;
    margin: 0;
  }

  button {
    font-size: 16px;
  }

  li {
    width: calc(100% / 3);
    height: 60px;
  }
}
